body {
  height: 900px;
  margin: 0;
}

.bg {
  background-image: url(/images/back_Bitmap.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-container {
  display: inline-block;
  margin: 100px 0px 0px 70px;
  width: 100%;
}

.logo_img {
  width: 555px;
}

.nav {
  /* filter: blur(4px); */
  width: 830px;
  height: 96px;
  float: right;
}

ul {
  display: inline-flex;
  width: 200px;
  spa
}
