body {
  height: 900px;
  margin: 0;
}

.bg {
  background-image: url(/images/back_Bitmap.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-container {
  display: inline-block;
  margin: 20px 0px 0px 40px;
}
